In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
x,x_time,y,y_time = [],[],[],[]

In [3]:
import os

path = "TrainingData"

files = os.listdir(path)

x_csv = []
x_time_csv = []
y_csv = []
y_time_csv = []

for file in files:
    if file.endswith("_x.csv"):
        x_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_x_time.csv"):
        x_time_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_y.csv"):
        y_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_y_time.csv"):
        y_time_csv.append(pd.read_csv(path+"/"+file))

In [4]:
for i in range(29):
    print(len(x_csv[i]),len(y_csv[i]))

37889 9472
70171 17542
43145 10786
54955 13738
59120 14779
38630 9657
31422 7855
66761 16690
55998 13999
55400 13849
48796 12198
51460 12864
42318 10579
36312 9077
47209 11802
19532 4882
34308 8576
34475 8618
56078 14019
34518 8629
44904 11225
48124 12030
59561 14890
45128 11281
46200 11549
46988 11746
44640 11159
39438 9859
48137 12034

In [5]:
l = []
for j in range(29):
    new_list = []
    for i in (y_csv[j].T).values.tolist()[0]:
        new_list.extend([i]*4)
    l.append(pd.DataFrame(new_list))


y_csv = l
l = []
for j in range(29):
    new_list = []
    for i in (y_time_csv[j].T).values.tolist()[0]:
        new_list.extend([i]*4)
    l.append(pd.DataFrame(new_list))
y_time_csv = l

In [6]:
for i in range(29):
    x_csv[i] = x_csv[i].drop(x_csv[i].iloc[-(len(x_csv[i])-len(y_csv[i])):].index)
    x_time_csv[i] = x_time_csv[i].drop(x_time_csv[i].iloc[-(len(x_time_csv[i])-len(y_csv[i])):].index)

In [7]:
for i in range(29):
    print(len(x_csv[i]),len(y_csv[i]))

37888 37888
70168 70168
43144 43144
54952 54952
59116 59116
38628 38628
31420 31420
66760 66760
55996 55996
55396 55396
48792 48792
51456 51456
42316 42316
36308 36308
47208 47208
19528 19528
34304 34304
34472 34472
56076 56076
34516 34516
44900 44900
48120 48120
59560 59560
45124 45124
46196 46196
46984 46984
44636 44636
39436 39436
48136 48136

In [8]:
# x_csv = pd.concat(x_csv)
# x_time_csv = pd.concat(x_time_csv)
# y_csv = pd.concat(y_csv)
# y_time_csv = pd.concat(y_time_csv)
for df in x_csv:
    df.set_axis(["1","2","3","4","5","6"], axis=1, inplace=True)
x = pd.concat(x_csv).reset_index(drop=True)

In [9]:
for df in x_time_csv:
    df.set_axis(["7"], axis=1, inplace=True)
x_time_csv
x_time_csv = pd.concat(x_time_csv).reset_index(drop=True)
x['7'] = x_time_csv

In [10]:
for df in y_csv:
    df.set_axis(["Y"], axis=1, inplace=True)
y = pd.concat(y_csv).reset_index(drop=True)

In [11]:
x,y

(                1         2         3         4         5         6         7
 0        4.186920  8.344455  2.908057  0.005771 -0.004480 -0.003345     0.025
 1        4.544637  8.408659  2.890000  0.007967  0.022412  0.001159     0.050
 2        4.849308  8.411614  2.900692  0.027778 -0.010670 -0.014223     0.075
 3        4.509190  8.118649  2.847298  0.021577 -0.045498 -0.021111     0.100
 4        4.226515  8.273807  2.851742  0.012534  0.000445 -0.016830     0.125
 ...           ...       ...       ...       ...       ...       ...       ...
 1341531  2.098301  8.893398 -3.510000  0.001195  0.000335  0.001027  1203.300
 1341532  2.072244  8.908878 -3.500000  0.001351  0.001191  0.001031  1203.325
 1341533  2.085123  8.915123 -3.520000  0.001918 -0.001147  0.000000  1203.350
 1341534  2.083774  8.910000 -3.538981 -0.002015 -0.004099  0.001042  1203.375
 1341535  2.111447  8.908553 -3.535724  0.000183 -0.001673  0.001856  1203.400

 [1341536 rows x 7 columns],
          Y
 0        0
 1        0
 2        0
 3        0
 4        0
 ...     ..
 1341531  0
 1341532  0
 1341533  0
 1341534  0
 1341535  0

 [1341536 rows x 1 columns])

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
scaler = StandardScaler()
scaler.fit(x)
x = scaler.transform(x)

In [14]:
x

array([[ 6.20525610e-01,  4.52969580e-02, -5.67122422e-01, ...,
        -1.82724598e-02,  8.34581506e-02, -1.59035835e+00],
       [ 6.82919665e-01,  5.46635786e-02, -5.70360751e-01, ...,
        -1.08306174e-03,  8.93094706e-02, -1.59029315e+00],
       [ 7.36061280e-01,  5.50946789e-02, -5.68443256e-01, ...,
        -2.22296637e-02,  6.93247393e-02, -1.59022795e+00],
       ...,
       [ 2.53923973e-01,  1.28550815e-01, -1.71992535e+00, ...,
        -1.61419790e-02,  8.78042387e-02,  1.54800613e+00],
       [ 2.53688676e-01,  1.27803429e-01, -1.72332938e+00, ...,
        -1.80294941e-02,  8.91582178e-02,  1.54807134e+00],
       [ 2.58515482e-01,  1.27592328e-01, -1.72274528e+00, ...,
        -1.64783360e-02,  9.02155820e-02,  1.54813654e+00]])

In [15]:
x = pd.DataFrame(x,columns = ["1","2","3","4","5","6","7"])

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x['y'] = y

In [18]:
X_train, X_test, y_train, y_test= train_test_split(x.drop('y',axis=1), x['y'], test_size=0.2, random_state=42, stratify=x['y'])

In [19]:
X_train

                1         2         3         4         5         6         7
649570  -0.115550 -1.280971  0.271861  0.644274  0.392302  0.108841  0.747392
803436   0.183757  0.042149 -0.583550 -0.215840 -0.080163 -0.005253 -0.934688
979546   1.752736  0.047685 -0.007212 -0.560602  3.105541  0.904000 -0.533957
104936   1.806260  0.188780 -1.028420 -0.215671 -0.629253 -1.002059  2.781301
656267  -0.367877  0.163800 -0.549022  0.006768  0.006875  0.045037 -1.575036
...           ...       ...       ...       ...       ...       ...       ...
1064595 -0.119021 -0.291913  0.878464  0.755168 -0.024073 -1.671912  1.873885
530300  -0.894968 -1.010694  0.871313  1.527046  1.007892  0.444500 -0.492879
857548  -0.887751  0.124088  0.427574 -0.046386 -0.059517 -1.323819  0.345878
1317682 -0.724297  0.140537  1.760978 -0.133710  0.600001  1.241472 -0.007125
414410   0.275632 -1.015213  0.587099  1.513835  1.707905 -0.225729 -0.786158

[1073228 rows x 7 columns]

In [20]:
y_train

649570     2
803436     0
979546     0
104936     0
656267     0
          ..
1064595    0
530300     0
857548     0
1317682    3
414410     0
Name: y, Length: 1073228, dtype: int64