In [1]:
import numpy as np
import pandas as pd
import os

path = "TestData"

files = os.listdir(path)

x_csv = []
x_time_csv = []
y_csv = []
y_time_csv = []

for file in files:
    if file.endswith("_x.csv"):
        x_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_x_time.csv"):
        x_time_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_y_time.csv"):
        y_time_csv.append(pd.read_csv(path+"/"+file))

In [2]:
print(len(x_csv))

4

In [3]:
for i in range(4):
    print(len(x_csv[i]),4*len(y_time_csv[i]))

37990 37988
49080 49076
51760 51756
45318 45316

In [4]:
l = []
for j in range(4):
    new_list = []
    for i in (y_time_csv[j].T).values.tolist()[0]:
        new_list.extend([i]*4)
    l.append(pd.DataFrame(new_list))
y_time_csv = l

In [5]:
for i in range(4):
    t = -(len(x_csv[i])-len(y_time_csv[i]))
    x_csv[i] = x_csv[i].drop(x_csv[i].iloc[t:].index)
    x_time_csv[i] = x_time_csv[i].drop(x_time_csv[i].iloc[t:].index)

In [6]:
for i in range(4):
    print(len(x_csv[i]),len(y_time_csv[i]))

37988 37988
49076 49076
51756 51756
45316 45316

In [7]:
for df in x_csv:
    df.set_axis(["1","2","3","4","5","6"], axis=1, inplace=True)
x = pd.concat(x_csv).reset_index(drop=True)

In [8]:
for df in x_time_csv:
    df.set_axis(["7"], axis=1, inplace=True)
x_time_csv
x_time_csv = pd.concat(x_time_csv).reset_index(drop=True)
x['7'] = x_time_csv

In [9]:
x

               1         2         3         4         5         6         7
0       0.413795  8.706898 -4.456205  0.000000 -0.002838  0.007162     0.025
1       0.423914  8.707828 -4.502172  0.002037  0.001111  0.007778     0.050
2       0.442980  8.718078 -4.502980  0.000403  0.004648  0.008384     0.075
3       0.485234  8.725234 -4.520000 -0.000020  0.006667  0.007778     0.100
4       0.500000  8.705882 -4.470592  0.000225  0.006636  0.006126     0.125
...          ...       ...       ...       ...       ...       ...       ...
184131  1.789280  9.136907  3.073814 -0.001669  0.018879  0.015551  1132.800
184132  1.758566  9.122848  3.070000 -0.002135  0.010088  0.027690  1132.825
184133  1.759771  9.145114  3.150458 -0.006046  0.009510  0.035375  1132.850
184134  1.793038  9.156304  3.145874 -0.003333  0.010000  0.051222  1132.875
184135  1.885642  9.121285  3.091285 -0.005124  0.022902  0.063333  1132.900

[184136 rows x 7 columns]

In [10]:
path = "TrainingData"

files = os.listdir(path)

x_train_csv = []
x_train_time_csv = []
y_train_csv = []
y_train_time_csv = []
for file in files:
    if file.endswith("_x.csv"):
        x_train_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_x_time.csv"):
        x_train_time_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_y.csv"):
        y_train_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_y_time.csv"):
        y_train_time_csv.append(pd.read_csv(path+"/"+file))

In [11]:
l = []
for j in range(29):
    new_list = []
    for i in (y_train_csv[j].T).values.tolist()[0]:
        new_list.extend([i]*4)
    l.append(pd.DataFrame(new_list))
y_train_csv = l

l = []
for j in range(29):
    new_list = []
    for i in (y_train_time_csv[j].T).values.tolist()[0]:
        new_list.extend([i]*4)
    l.append(pd.DataFrame(new_list))
y_train_time_csv = l

In [12]:
for i in range(29):
    x_train_csv[i] = x_train_csv[i].drop(x_train_csv[i].iloc[-(len(x_train_csv[i])-len(y_train_csv[i])):].index)
    x_train_time_csv[i] = x_train_time_csv[i].drop(x_train_time_csv[i].iloc[-(len(x_train_time_csv[i])-len(y_train_csv[i])):].index)

In [13]:
for i in range(29):
    print(len(x_train_csv[i]),len(y_train_csv[i]))

37888 37888
70168 70168
43144 43144
54952 54952
59116 59116
38628 38628
31420 31420
66760 66760
55996 55996
55396 55396
48792 48792
51456 51456
42316 42316
36308 36308
47208 47208
19528 19528
34304 34304
34472 34472
56076 56076
34516 34516
44900 44900
48120 48120
59560 59560
45124 45124
46196 46196
46984 46984
44636 44636
39436 39436
48136 48136

In [14]:
for df in x_train_csv:
    df.set_axis(["1","2","3","4","5","6"], axis=1, inplace=True)
x2 = pd.concat(x_train_csv).reset_index(drop=True)
for df in x_train_time_csv:
    df.set_axis(["7"], axis=1, inplace=True)

x_train_time_csv = pd.concat(x_train_time_csv).reset_index(drop=True)
x2['7'] = x_train_time_csv

In [15]:
x2

                1         2         3         4         5         6         7
0        4.186920  8.344455  2.908057  0.005771 -0.004480 -0.003345     0.025
1        4.544637  8.408659  2.890000  0.007967  0.022412  0.001159     0.050
2        4.849308  8.411614  2.900692  0.027778 -0.010670 -0.014223     0.075
3        4.509190  8.118649  2.847298  0.021577 -0.045498 -0.021111     0.100
4        4.226515  8.273807  2.851742  0.012534  0.000445 -0.016830     0.125
...           ...       ...       ...       ...       ...       ...       ...
1341531  2.098301  8.893398 -3.510000  0.001195  0.000335  0.001027  1203.300
1341532  2.072244  8.908878 -3.500000  0.001351  0.001191  0.001031  1203.325
1341533  2.085123  8.915123 -3.520000  0.001918 -0.001147  0.000000  1203.350
1341534  2.083774  8.910000 -3.538981 -0.002015 -0.004099  0.001042  1203.375
1341535  2.111447  8.908553 -3.535724  0.000183 -0.001673  0.001856  1203.400

[1341536 rows x 7 columns]

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x2)
x = scaler.transform(x)

In [17]:
x

array([[-3.75939033e-02,  9.81731973e-02, -1.88782365e+00, ...,
        -1.72229592e-02,  9.71100041e-02, -1.59035835e+00],
       [-3.58290395e-02,  9.83088736e-02, -1.89606734e+00, ...,
        -1.46988317e-02,  9.79096484e-02, -1.59029315e+00],
       [-3.25033694e-02,  9.98042300e-02, -1.89621224e+00, ...,
        -1.24381045e-02,  9.86975277e-02, -1.59022795e+00],
       ...,
       [ 1.97175116e-01,  1.62103841e-01, -5.23650409e-01, ...,
        -9.33041505e-03,  1.33766391e-01,  1.36413669e+00],
       [ 2.02977645e-01,  1.63736332e-01, -5.24472500e-01, ...,
        -9.01707941e-03,  1.54355354e-01,  1.36420189e+00],
       [ 2.19129908e-01,  1.58627465e-01, -5.34262450e-01, ...,
        -7.69833484e-04,  1.70091139e-01,  1.36426710e+00]])

In [18]:
x = pd.DataFrame(x,columns = ["1","2","3","4","5","6","7"])

In [19]:
x.shape

(184136, 7)

In [20]:
from keras.models import load_model

# returns a compiled model
# identical to the previous one
model = load_model('Models/LSTM.h5')

In [21]:
max_indices = np.argmax(model.predict(x), axis=1)

5755/5755 [==============================] - 25s 4ms/step

In [22]:
print(len(max_indices))

184136

In [27]:
slice1 = max_indices[:37988]
slice2 = max_indices[37988:49076+37988]
slice3 = max_indices[49076+37988:51756+49076+37988]
slice4 = max_indices[51756+49076+37988:]

In [28]:
np.savetxt("subject_009_01__y.csv", slice1, delimiter=",")
np.savetxt("subject_010_01__y.csv", slice2, delimiter=",")
np.savetxt("subject_011_01__y.csv", slice3, delimiter=",")
np.savetxt("subject_012_01__y.csv", slice4, delimiter=",")

In [29]:
print(len(slice1),len(slice2),len(slice3),len(slice4))

37988 49076 51756 45316