In [14]:
import numpy as np
import pandas as pd
import os

path = "TestData"

files = os.listdir(path)

x_csv = []
x_time_csv = []
y_csv = []
y_time_csv = []

for file in files:
    if file.endswith("_x.csv"):
        x_csv.append(pd.read_csv(path+"/"+file,header = None))
    elif file.endswith("_x_time.csv"):
        x_time_csv.append(pd.read_csv(path+"/"+file,header = None))
    elif file.endswith("_y_time.csv"):
        y_time_csv.append(pd.read_csv(path+"/"+file,header = None))

In [15]:
print(len(x_csv))

4

In [16]:
for i in range(4):
    print(len(x_csv[i]),4*len(y_time_csv[i]))

37991 37992
49081 49080
51761 51760
45319 45320

In [17]:
l = []
for j in range(4):
    new_list = []
    for i in (y_time_csv[j].T).values.tolist()[0]:
        new_list.extend([i]*4)
    l.append(pd.DataFrame(new_list))
y_time_csv = l

In [18]:
   
for i in range(4):
    if len(x_csv[i])>len(y_time_csv[i]):
        t = -(len(x_csv[i])-len(y_time_csv[i]))
        x_csv[i] = x_csv[i].drop(x_csv[i].iloc[t:].index)
        x_time_csv[i] = x_time_csv[i].drop(x_time_csv[i].iloc[t:].index)
    elif len(x_csv[i])<len(y_time_csv[i]):
        y_time_csv[i] = y_time_csv[i].drop(y_time_csv[i].iloc[-(len(y_time_csv[i])-len(x_csv[i])):].index)

In [19]:
for i in range(4):
    print(len(x_csv[i]),len(y_time_csv[i]))

37991 37991
49080 49080
51760 51760
45319 45319

In [20]:
for df in x_csv:
    df.set_axis(["1","2","3","4","5","6"], axis=1, inplace=True)
x = pd.concat(x_csv).reset_index(drop=True)

In [21]:
for df in x_time_csv:
    df.set_axis(["7"], axis=1, inplace=True)
x_time_csv
x_time_csv = pd.concat(x_time_csv).reset_index(drop=True)
x['7'] = x_time_csv

In [22]:
x

               1         2         3         4         5         6         7
0       0.396845  8.710000 -4.476044  0.001111 -0.008889  0.004137     0.000
1       0.413795  8.706898 -4.456205  0.000000 -0.002838  0.007162     0.025
2       0.423914  8.707828 -4.502172  0.002037  0.001111  0.007778     0.050
3       0.442980  8.718078 -4.502980  0.000403  0.004648  0.008384     0.075
4       0.485234  8.725234 -4.520000 -0.000020  0.006667  0.007778     0.100
...          ...       ...       ...       ...       ...       ...       ...
184145  1.759771  9.145114  3.150458 -0.006046  0.009510  0.035375  1132.850
184146  1.793038  9.156304  3.145874 -0.003333  0.010000  0.051222  1132.875
184147  1.885642  9.121285  3.091285 -0.005124  0.022902  0.063333  1132.900
184148  1.864490  9.156898  3.117592 -0.006667  0.017093  0.065642  1132.925
184149  1.839925  9.133283  3.143358 -0.006200  0.013404  0.072293  1132.950

[184150 rows x 7 columns]

In [23]:
path = "TrainingData"

files = os.listdir(path)

x_train_csv = []
x_train_time_csv = []
y_train_csv = []
y_train_time_csv = []
for file in files:
    if file.endswith("_x.csv"):
        x_train_csv.append(pd.read_csv(path+"/"+file,header = None))
    elif file.endswith("_x_time.csv"):
        x_train_time_csv.append(pd.read_csv(path+"/"+file,header = None))
    elif file.endswith("_y.csv"):
        y_train_csv.append(pd.read_csv(path+"/"+file,header = None))
    elif file.endswith("_y_time.csv"):
        y_train_time_csv.append(pd.read_csv(path+"/"+file,header = None))

In [24]:
l = []
for j in range(29):
    new_list = []
    for i in (y_train_csv[j].T).values.tolist()[0]:
        new_list.extend([i]*4)
    l.append(pd.DataFrame(new_list))
y_train_csv = l

l = []
for j in range(29):
    new_list = []
    for i in (y_train_time_csv[j].T).values.tolist()[0]:
        new_list.extend([i]*4)
    l.append(pd.DataFrame(new_list))
y_train_time_csv = l

In [25]:

for i in range(29):
    if len(x_train_csv[i])>len(y_train_csv[i]):
        x_train_csv[i] = x_train_csv[i].drop(x_train_csv[i].iloc[-(len(x_train_csv[i])-len(y_train_csv[i])):].index)
        x_train_time_csv[i] = x_train_time_csv[i].drop(x_train_time_csv[i].iloc[-(len(x_train_time_csv[i])-len(y_train_csv[i])):].index)
    elif len(x_train_csv[i])<len(y_train_csv[i]):
        y_train_csv[i] = y_train_csv[i].drop(y_train_csv[i].iloc[-(len(y_train_csv[i])-len(x_train_csv[i])):].index)
        y_train_time_csv[i] = y_train_time_csv[i].drop(y_train_time_csv[i].iloc[-(len(y_train_time_csv[i])-len(x_train_csv[i])):].index)

In [26]:
for i in range(29):
    print(len(x_train_csv[i]),len(y_train_csv[i]))

37890 37890
70172 70172
43146 43146
54956 54956
59120 59120
38631 38631
31423 31423
66762 66762
55999 55999
55400 55400
48796 48796
51460 51460
42319 42319
36312 36312
47210 47210
19532 19532
34308 34308
34476 34476
56079 56079
34519 34519
44904 44904
48124 48124
59562 59562
45128 45128
46200 46200
46988 46988
44640 44640
39439 39439
48138 48138

In [27]:
for df in x_train_csv:
    df.set_axis(["1","2","3","4","5","6"], axis=1, inplace=True)
x2 = pd.concat(x_train_csv).reset_index(drop=True)
for df in x_train_time_csv:
    df.set_axis(["7"], axis=1, inplace=True)

x_train_time_csv = pd.concat(x_train_time_csv).reset_index(drop=True)
x2['7'] = x_train_time_csv

In [28]:
x2

                1         2         3         4         5         6         7
0        4.435275  8.196063  2.974488  0.014215 -0.039157 -0.016744     0.000
1        4.186920  8.344455  2.908057  0.005771 -0.004480 -0.003345     0.025
2        4.544637  8.408659  2.890000  0.007967  0.022412  0.001159     0.050
3        4.849308  8.411614  2.900692  0.027778 -0.010670 -0.014223     0.075
4        4.509190  8.118649  2.847298  0.021577 -0.045498 -0.021111     0.100
...           ...       ...       ...       ...       ...       ...       ...
1341628  2.072244  8.908878 -3.500000  0.001351  0.001191  0.001031  1203.325
1341629  2.085123  8.915123 -3.520000  0.001918 -0.001147  0.000000  1203.350
1341630  2.083774  8.910000 -3.538981 -0.002015 -0.004099  0.001042  1203.375
1341631  2.111447  8.908553 -3.535724  0.000183 -0.001673  0.001856  1203.400
1341632  2.087730  8.900000 -3.518865  0.000052 -0.001267  0.000000  1203.425

[1341633 rows x 7 columns]

In [29]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x2)
x = scaler.transform(x)

In [30]:
x

array([[-4.05534133e-02,  9.86177952e-02, -1.89136578e+00, ...,
        -2.10906416e-02,  9.31778392e-02, -1.59037458e+00],
       [-3.75967055e-02,  9.81652335e-02, -1.88780781e+00, ...,
        -1.72224811e-02,  9.71091232e-02, -1.59030938e+00],
       [-3.58317824e-02,  9.83009145e-02, -1.89605163e+00, ...,
        -1.46982653e-02,  9.79087941e-02, -1.59024418e+00],
       ...,
       [ 2.19135727e-01,  1.58621615e-01, -5.34224655e-01, ...,
        -7.68779282e-04,  1.70092692e-01,  1.36415693e+00],
       [ 2.15446209e-01,  1.63817321e-01, -5.29506700e-01, ...,
        -4.48235361e-03,  1.73092410e-01,  1.36422213e+00],
       [ 2.11161365e-01,  1.60372045e-01, -5.24885770e-01, ...,
        -6.83992593e-03,  1.81734473e-01,  1.36428733e+00]])

In [31]:
x = pd.DataFrame(x,columns = ["1","2","3","4","5","6","7"])

In [32]:
x.shape

(184150, 7)

In [33]:
df = x

# Group the first 6 columns by every 4 rows and take their mean
df_concise = df.iloc[:, :6].groupby(df.index // 4).mean()

# Replace the 7th column by every 4th value in order
df_concise['column_7'] = df.iloc[::4, 6].reset_index(drop=True)

# Save the concise dataframe to a new csv file
df_concise.to_csv('concise_dataframe.csv', index=False)

In [34]:
from keras.models import load_model

# returns a compiled model
# identical to the previous one
model = load_model('Models/LSTM.h5')

In [39]:
max_indices = np.argmax(model.predict(df_concise), axis=1)

1439/1439 [==============================] - 4s 3ms/step

In [40]:
print(len(max_indices))

46038

In [41]:
slice1 = max_indices[:37992//4]
slice2 = max_indices[37992//4:(49076+37988+8)//4]
slice3 = max_indices[(49076+37988+8)//4:(51756+12+49076+37988)//4]
slice4 = max_indices[(51756+49076+37988+12)//4:]

In [46]:
np.savetxt("subject_009_01__y.csv", slice1, delimiter=",")
np.savetxt("subject_010_01__y.csv", slice2, delimiter=",")
np.savetxt("subject_011_01__y.csv", slice3, delimiter=",")
np.savetxt("subject_012_01__y.csv", slice4, delimiter=",")

In [43]:
print(len(slice1),len(slice2),len(slice3),len(slice4))

9498 12270 12940 11330

In [44]:
# Get the unique values and their count
unique, counts = np.unique(max_indices, return_counts=True)

# Print the unique values and their count
for i in range(len(unique)):
    print("Value:", unique[i], "Count:", counts[i])

Value: 0 Count: 40556
Value: 1 Count: 1138
Value: 2 Count: 2584
Value: 3 Count: 1760